<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span><a routerLink="/">My App</a></span>
     <span class="spacer"></span>
     <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    <button mat-button *ngIf="!isAuthenticated" (click)="login()">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>