<div class="container">
    <h3 mat-dialog-title>Product Id: {{data.id}}</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Product Name" [(ngModel)]="data.productName" name="productName" required >
        </mat-form-field>
      </div>

      <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Url" [(ngModel)]="data.url" name="url" required>
          </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>
  